@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-sohne;
  font-size: clamp(14px, .55vw, .55vw);
  color: #2E2E2E;
}


.FooterAnimation .FooterAnimation-item,
.LogoAnimation svg {
    transform: translateY(100%);
    transition: transform 1s;
}

.FooterAnimation .FooterAnimation-item {
    transition-delay: .5s;
}

.Loaded .FooterAnimation-item,
.Loaded .LogoAnimation svg {
    transform: translateY(0);
}


/* Link hover */
.CustomLink{
  position: relative;
  transition: all .5s;
}
/* .CustomLink:hover{
  transform: scale(.9);
} */

.CustomLink:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  border-top: 1px solid #2E2E2E;
  transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1);
  transform: scaleX(0);
  transform-origin: right;
}

.CustomLink:hover:before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Fonts */
@font-face {
  font-family: 'Sohne Mono';
  src: url('/fonts/SohneMono-Buch.woff2') format('woff2'),
      url('/fonts/SohneMono-Buch.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
